.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.top-bar {
  background-color: #600000;
  color: white;
  padding: 20px 30px; /* اونچائی بڑھا دی گئی ہے */
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: relative; 
}

.top-bar span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}